<!Doctype html>
<html lang="ko">

<head>
    <!-- Webpage Title -->
    <title>로그인</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- jquery, popper -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel = "stylesheet" href="../static/login.css">

    <!-- js -->
        <script type="text/javascript" src="../static/login.js" defer="defer"></script>
</head>

<body>
    <div class="wrap">
            <div class="login_box">
                <legend>로그인</legend>
                <div class="input-group">
                     <div class="input-group-text">🆔</div>
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input type="text" id="userid" value='' placeholder="E-mail을 입력하세요" class="form-control" />
                </div>
                <div class="input-group">
                     <div class="input-group-text">🔑</div>
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" id="password" value='' placeholder="비밀번호를 입력하세요" class="form-control" />
                </div>
                <button type="submit" id="login-submit" class="btn btn-default btn-block"/>로그인</button>
                <span class='text-center'><a href="" class="btn btn-default btn-block">비밀번호 찾기</a></span>
                <span class='text-center'><a href="/join" class="btn btn-default btn-block" onclick= "clickJoin()"> 회원가입</a></span>
            </div>

    </div>
</body>

</html>